@import "styles/mixins";

.illu {
  stroke: currentColor;
  stroke-width: 0.035em;
  fill: none;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: var(--height, 100vh);
}
