@import "styles/mixins";

.wrapper {
  width: var(--wrapper-width);
  max-width: var(--wrapper-max);
  margin-left: auto;
  margin-right: auto;
}

.content {
  @include flex(flex-start, flex-start, column);
  gap: var(--content-gap, calc(24px + 6 * (100vw - 320px) / 1080));
}
