@import "styles/mixins";

.verification {
    --padding: calc(160px + 24 * (100vw - 320px) / 1080);
    padding: calc(var(--padding) + var(--header-height) / 1.5) 0 var(--padding);

    .title {
        * {
            font-size: calc(32px + 8 * (100vw - 320px) / 1080);
            text-align: center;
        }
    }

    p {
        font-size: 16px;
        letter-spacing: 1px;
        text-align: center;
        margin-top: calc(var(--main-padding-2) / 4);
        margin-bottom: calc(var(--main-padding) / 1);

        a {
            font-weight: bold;
            white-space: nowrap;
        }
    }

    .center {
        @include flex(center, center);

        @include max($sm){
            margin-top: calc(var(--main-spacing) / 2);
        }

        .form {
            --padding: 5px;
            padding: var(--padding);
            width: 50%;
            background-color: var(--text);
            box-shadow: 0 12px 32px rgba(0, 0, 0, 0.05);
            margin: auto 0 var(--bottom);
            border-radius: 100px;
            position: relative;
            gap: calc(var(--main-padding-2) / 2);
            @include flex(stretch, stretch);

            @include max($sm){
                width: 100%;
            }

            input {
                padding-left: var(--main-padding);
                background-color: transparent;
                flex: 1;
                max-width: calc(100% - var(--size-1) * 3 - var(--padding) * 3);
                color: var(--body) !important;
                font-size: 16px;
                font-weight: 300;

                &::placeholder{
                    color: rgba(var(--body), 0.5)
                }
            }

            .right {
                @include flex(center, center);
                gap: var(--size-2);
            }

            button {
                --size: var(--size-7);
                width: var(--size-7);
                height: var(--size-7);
                padding: 0;
                gap: 0;
                font-size: 1.5em;

                svg {
                    position: relative;
                    transform: translateX(0%);
                    width: 35px;
                    height: 35px;
                    transition: .3s var(--ease-in-quad) all;
                }

                &.micro {
                    background-color: var(--primary);
                    color: var(--grey);
                    box-shadow: 0 0 0;
                    border-radius: 100px;

                    &::before {
                        display: none;
                    }

                    &:hover svg {
                        fill: var(--text);
                    }
                }
            }
        }
    }
}
